/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
/.idea
!.idea/laravel-plugin.xml
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/.phpstorm.meta.php
/_ide_helper*
/.phpstorm.meta.php
node_modules
public/css/app.css.map
public/js/app.js.map

# Ignore all differences in line endings
*-crlf
/storage/logs/*.log
/storage/logs
/storage/logs/old/*.log
/storage/logs/old


public/relatorios/*